/* 
    @Author: Daniel Barragues
    --------------------------------------------------
    -Todo está ordenado por orden de aparición y peso-
    -         Orden: Elementos, Clases e IDs.        -
    --------------------------------------------------
*/

/* Elementos */
body {
    margin: 0;
    background-color: rgb(233, 233, 233);
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    margin-bottom: 5%;
}

/* Clases */
.carrito {
    position: absolute;
    width: 4.5%;
    height: 8%;
    left: 93%;
    top: 1.5%;
}

.panelCarrito {
    height: 0px;
    overflow: hidden;
    margin-bottom: 5%;
    transition: .5s;
}

.mostrarPanel {
    height: 300px;
}

.btnCerrarPanel {
    text-align: center;

}

.contenedor {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 500px;
}

.producto {
    width: 20%;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    margin-bottom: 2.5%;
}

.fotoProducto {
    width: 50%;
    height: 50%;
}

.producto p {
    width: 90%;
}

.botonCompra {
    border-radius: 5px;
    border: 1px solid rgb(209, 137, 3);
    height: 150%;
    background-color: orange;
}

/* IDs */