#cuerpo{
    width: 80%; /*Queda igual que las anteriores cn 60%*/
    margin: 0 auto;
}
h1{
    text-align: center;
}
#columna1{
    width: 20%;
    padding-bottom: 50%;
    float: left;
    margin-right: 2%;
}
#columna2{
    width: 60%;
    float: left;
}
#columna2 li{
    list-style-type: none;
    float: left;
    width: 33%;
}
#columna2 li:first-of-type{
    margin-left: -4.5%;
    margin-right: 2%;
}
