h1 {
    border-bottom: 5px solid blue;
}

h2 {
    border: 1px solid black;
}

#datos {
    border-top: 5px dotted red;
    border-bottom: 5px dotted red;
}

#contenido {
    border: 5px dotted green;
}