body {
    background-color: palegreen;
    height: 100%;
}

#contenedor {
    border: 7px solid black;
    width: 40%;
    margin: 0 auto;
    height: 75%;
}

#cabecera {
    background-color: lightgrey;
    height: 25%;
    border-bottom: 5px solid black;
}

#menu {
    background-color: lightgrey;
    height: 5%;
    border-bottom: 7px solid black;
}

#principal {
    background-color: black;
    height: 57%;
}

#col_izquierda {
    background-color: orange;
    height: 60%;
    width: 19%;
    float: left;
    border: 1px solid lightgrey;
}

#col_centro {
    margin-left: 7px;
    margin-right: 7px;
    background-color: palegreen;
    height: 80%;
    width: 59%;
    float: left;
    border: 1px solid lightgrey;
}

#col_derecha {
    background-color: blue;
    height: 97%;
    width: 18.6%;
    float: left;
    border: 1px solid lightgrey;
}

#pie {
    background-color: lightgrey;
    height: 11%;
}