body{
    width: 960px;
    margin-left: 540px;
    position: relative;
}
h1{
    text-align: center;
    display: block;
    margin: 0 auto;
}
#lista{
    width: 260px;
    padding-bottom: 600px;
    float: left;
}
#contenidoLista li{
    list-style-type: none;
    float: left;
    width: 200px;
    margin-right: 10px;
}
