body{
    width: 60em;
    margin: 0em auto;
}
h1{
    text-align: center;
}
#columna1{
    width: 16em;
    padding-bottom: 30em;
    float: left;
}
#columna2{
    width: 44em;
    float: left;
}
#columna2 li{
    list-style-type: none;
    float: left;
    width: 14em;
}
#columna2 li:first-of-type{
    margin-left: -2.5em;
}
